:root{
  --red: #f54e4e;
  --green: #4aec8c;
}
  
body{
  background-color: #ffffff;
}
main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  stroke-width: 2;
}
.CircularProgressbar .CircularProgressbar-path {
 stroke-width: 2;
}

.CircularProgressbar .CircularProgressbar-trail {
 stroke-width: 2;
}
label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}